html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    margin-top: 10%;
    background-color: #d6e2f0;
    margin-bottom: 10%;
}
body .centerbox {
    margin: auto;
    width: 320px;
    height: 450px;
    border-top: 15px solid white;
    background-color: white;
    border-radius: 6%;
    padding: 0px;
}
body .centerbox .hover{
    width: 360px;
    height: 460px;
}